<ns-action-bar
  [title]="isCreating ? 'Replace Challenge' : 'Edit Challenge'"
  [hasMenu]="false"
></ns-action-bar>
<FlexboxLayout class="form">
  <StackLayout class="input-field">
    <Label text="Title" class="label"></Label>
    <TextField  class="input" hint="" text=""></TextField>
  </StackLayout>
  <StackLayout class="input-field">
      <Label text="Description" class="label"></Label>
      <TextField  class="input" hint="" text=""></TextField>
    </StackLayout>
    <Button class="btn btn-primary" text="Save"></Button>
    
</FlexboxLayout>
